{% extends 'main.html' %}

{% block title %}
    Herci | {{ block.super }}
{% endblock %}

{% block content %}
<h1>{{ title|default:"Herci" }}</h1>

    
    <div class="row row-cols-2  row-cols-md-3 row-cols-lg-4 g-2">
        {% for a in actors %}
        <div class="col">
            <div class="card h-100">
                <img width="300" height="450" class="card-img-top" src="{{a.photo_url}}" alt="here is image">
                <div class="card-body">
                    <h5 class="card-title">{{ a.name }}</h5>
                    <p class="card-text ">{{a.birth_year}}</p>
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'actor' a.id %}" class="btn btn-primary">Detaily</a>
                </div>
            </div>
        </div>
            
        {% endfor %}
    </div>
{% endblock %}