{% extends 'main.html' %}

{% block title %}
    {{movie.name}} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>{{movie.name}}</h1>
            <h3>Rating: {% if movie.avg_rating %}{{movie.avg_rating}}%{% else %}This movie hasn't been rated yet{% endif %}</h3>
            <h3> Žánry:
                {%for g in movie.genres.all%}
                {{ g.name }}
                {%endfor%}
            </h3>
            <h3> Režisér:
                {%for d in movie.director.all%}
                <a href="{% url 'director' d.id %}" class="link-dark link-opacity-50-hover link-underline-opacity-25" >{{ d.name }}</a>
                {%endfor%}
            </h3>
            <h3> Herci:
                {%for a in movie.actor.all%}
                <a href="{% url 'actor' a.id %}" class="link-dark link-opacity-50-hover link-underline-opacity-25" >{{ a.name }}</a>
                {%endfor%}
            </h3>
            
            <P>{{movie.ac}}
            <p>{{ movie.description|safe }}</p>
            
        </div>
        <div class="col-auto">
            <img src="{% if movie.image_url %}{{movie.image_url}}{% else %}https://place-hold.it/180x100/{% endif %}" alt="here is image">
        </div>


</div>





<div class="my-2">
    <p class="text-end">
        <button
            class="btn btn-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#addComment"
        >
            Přidat komentář
        </button>
    </p>

    <div class="row collapse" id="addComment">
        <div class="col-12 col-md-6 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control btn btn-primary" type="submit" value="Odeslat" />
            </form>
        </div>
    </div>
</div>
    
{% for comment in comments %}
<p>
    <strong>{{ comment.author }}</strong>, {{ comment.created_at|date:"j. n. Y H:i" }}<br />
    {% if comment.rating %}{{ comment.rating }}%<br />{% endif %}
    {{ comment.text }}
</p>
<hr />
{% endfor %}

{% endblock content %}